---
import Layout from "../layouts/Layout.astro";

const { destinations } = Astro.params;

export function getStaticPaths() {
    const destinations = ["paris", "london", "new-york"];
    return destinations.map((destination) => ({
        params: { destinations: destination },
    }));
}

export const prerender = true;
---

<Layout>
    <h1>Welcome to { destinations }!</h1>
</Layout>