---
import Layout from "../layouts/Layout.astro";
const products = 'Astro and Strapi';
export const prerender = true;
---

<Layout title="Home | Astro + Strapi">
	<h1>App development with { products }</h1>
</Layout>
