---
const name = "Astro + Strapi"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name}</title>
	</head>
	<body>
		<h1>{name} app development</h1>
	</body>
</html>
